.node {
  width: 25px;
  height: 25px;
  outline: 1px solid #808080;
  display: inline-block;
  margin-inline-start: 1px;
  margin-top: -3px;
  margin-right: 0px;
  background-color: #fff;
}

.finish {
  /*background-color: #d91c1c;*/
  background-image: url(../../svg/target.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  outline: 0px;
}

.start {
  /*background-color: #1cd93b;*/
  background-image: url(../../svg/arrow-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  outline: 0px;
}

.wall {
  background-color: #303030;
}

.instantvisited {
  background-color: rgba(233, 250, 0, 0.75);
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0ms;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: #22277a;
    border-radius: 100%;
  }

  50% {
    background-color: #b9bfff;
  }

  75% {
    transform: scale(1.2);
    background-color: #8b74bd;
  }

  100% {
    transform: scale(1);
    background-color: #663399;
  }
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0ms;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #e583fc;
  }

  50% {
    transform: scale(1.2);
    background-color: #e583fc;
  }

  100% {
    transform: scale(1);
    background-color: #e583fc;
  }
}

.right {
  background-image: url(../../svg/arrow-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  outline: 0px;
}

.left {
  background-image: url(../../svg/arrow-left.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  outline: 0px;
}

.down {
  background-image: url(../../svg/arrow-down.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  outline: 0px;
}

.up {
  background-image: url(../../svg/arrow-up.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  outline: 0px;
}
