.pathfinding-visualizer {
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.bar {
  display: flex;
  text-align: left;
  padding: 15px 100px;
  background-color: #3d3d3d;
}

.title {
  font-size: 24px;
  color: white;
  margin-right: 50px;
  line-height: 0px;
}

.button {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-right: 20px;
}

.button:hover {
  color: #a0a0a0;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.grid {
  text-align: center;
  margin: 5% 0 0;
}
